#content{
    width:960px;
    margin:0 auto;
    text-align: center;
}
header{
    width:960px;
    margin:0 auto;
    text-align: center;
}
ul{
    float: right;
    margin-top: 10px;
    text-align: center;
}
h1{
    float: left;
    margin-top: 5px;
}

li{
    display: inline-block;
    
    margin:5px 30px;
}
.clear{
    clear: both;
}